
<body>
  <h2>Looping Object Properties</h2>
  <p id="demo"></p>

Access-Control-Allow-Origin
<h1>Consumiendo datos desde una API desde un servicio</h1>

<h2>Divisas</h2>
<!-- objectKeys(data) | keyvalue -->

<ul>
<li *ngFor="let item of data | keyvalue">

  <br>{{item.key | json }} : {{item.value | json }}
</li>
</ul>


<h2>formato json - Divisas</h2>

    <ul>
      <li *ngFor="let item of data | keyvalue">


        <pre>{{item.key | json }} : {{item.value | json }}</pre>
      </li>
      </ul>


      <h2>formato json - Emisora -  Alsea</h2>
      <ul>
        <li *ngFor="let item of emisora | keyvalue">

          <pre>{{item.key | json}} : {{item.value | json }}</pre>

        </li>
        </ul>


</body>





